/** @format */

* {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

head {
  display: none;
}

.pictures {
  object-fit: contain;
  height: 400px;
  width: 400px;
}

.card {
  padding: 1rem;
}

.h4 {
  width: 400px;
  text-align: justify;
  text-justify: inter-word;
  white-space: nowrap;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-outline-danger {
  margin-top: 5px;
}
